<!DOCTYPE html>
<html>
  <head>
    <title>Medidas | Help</title>
  </head>
  <body>

<h1>Help</h1>
<p>Record your hours on the Record page</p>
<p>View your existing entries on the hours_entries page.</p>

  </body>
</html>
