<div class="center hero-unit">
	<h1>Medidas</h1>
	<p>
	  A tool to help low-wage workers report hours and fight wage theft.
	</p>

<%= link_to "Start reporting", '#', class: "btn btn-large btn-primary" %>

</div>

<%= link_to image_tag("WageTheftSPAN.png", alt: "Medidas") %>
